<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Secret Key</title>
</head>
<body>
    <h2>Submit Secret Key</h2>
    <form action="{{ url_for('verify_poll_token', poll_token=poll_token) }}" method="post">
        <label for="secret_key">Secret Key:</label><br>
        <input type="text" id="secret_key" name="secret_key"><br><br>
        <h3>{{ url_for('verify_poll_token', poll_token=poll_token) }}</h3>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
